header.global h1.logo {
    margin: -2px 24px 0 3px;
}
header.global{background: none repeat scroll 0 0 #FFF ;}
.nav-courseware li .cta{ background: none repeat scroll 0 0 #ff762a;}
.wrapper-footer { background: none repeat scroll 0 0 #FFF ;border-top: 1px solid #fff;};
header.global .nav-global li a{
    color: #1d8081 ;
    text-decoration:none;
}
.nav-global li a:hover {
    color: #1D8081;
    text-decoration:none;
    border-bottom-color: #1D8081;
    border-bottom-style: solid ;
    border-bottom-width: 2px;
    padding-bottom: 13px;
    margin-top:0px;
}
.home > header {
    border-bottom: 1px solid #e3dde4 ;
}
.home > header .title {
    background: none ;
    margin-left:555px;
    border: none;
    box-shadow:none;
}

.home > header .title > hgroup {
    padding:0px;
}

.home > header .title > hgroup h1,.find-courses header.search .inner-wrapper > hgroup h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color:#fff;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    background: none repeat scroll 0 0 #1D8081;
    color:#f2f2f2;
    text-transform: uppercase;
    margin-bottom:5px;
    padding: 5px 10px;
    Helvetica,Arial,sans-serif;
}
.home > header .title > hgroup h2,.find-courses header.search .inner-wrapper > hgroup h2 {
  background: none repeat scroll 0 0 #1D8081;
  color:#f2f2f2;
  text-transform: none ;
  margin-bottom:5px;
  padding: 5px 10px;
  width: 74%;
  font-style: normal ;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;

}

.home > header .title > hgroup div {
  margin-top: 88px;
}

header.global .nav-global li a, header.global .nav-global div a {
    color: #1d8081 ;
}

.register img{
    margin-left:-108px;
    padding-right:10px;
}

.courses-header{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 24px;
    color:#000;
    font-weight:bold;
}

.highlighted-courses .courses .courses-listing .courses-listing-item, .find-courses .courses .courses-listing .courses-listing-item:focus {
    border: 1px solid #388a8b;
}

.find-courses header.search, .university-profile header.search {
    border-bottom: 1px solid #e3dde4  ;
}

.courses-container .courses .courses-listing .courses-listing-item {
    display: block;
    float: left;
    margin-right: 3%;
    width: 29.232%;
    border: none ;
}

.courses-container .courses .courses-listing .courses-listing-item {
    margin: 15px 2px 15px 30px;
}

courses-listing li{
    background: none repeat scroll 0 0 #fbfbfb;
    border: none ;
}

.courses-listing h2{
   /* background: url('../images/arrow.png') no-repeat right; */
    height:49px;
    width:100%;
    margin-bottom: 10px ;
    text-align: left;
    vertical-align: middle;
    line-height: 2.5;
    border-left: 1px solid #B2B2B2 ;
    border-right: 1px solid #B2B2B2 ;
    border-top: 1px solid #B2B2B2 ;
    border-bottom: none;
}

.info-link {
    border-left: 1px solid #B2B2B2 ;
    box-sizing: border-box;
    color: #313533;
    display: inline-block;
    float: right;
    font-family: "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    font-size: 30px ;
    font-weight: bold;
    height: 100%;
    line-height: 1.2em;
    opacity: 1;
    padding-right: 11px;
    padding-top: 3px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    top: 0;
    vertical-align: middle;
    width: 60px;
}

.courses-listing h2 > span{
    color:#81817D;
    font-size:16px;
    text-transform: capitalize;
    font-weight: bold ;
    padding-left:10px;
}
.courses-listing h2 > a{
    color:#81817D;
    font-size:22px;    
    text-transform: capitalize;
    font-weight: bold ;
}

.course-main-image img{
    width: 100%;
    margin-top:-10px;
    border: 1px solid #B2B2B2 ;
}

.courses-listing .share-text{
    color: #388a8b;
    font-size: 14px;
    padding-top: 8px;
    text-align: right;
    border: none ;
}
.courses-listing .share-text span{
     color:#388A8B;
     border: none ;
}

.courses-listing .share-text span img{
    border: none ;
}

.courses-container .courses-more .courses-more-cta {
    color: #388A8B;
}
.wrapper-footer footer .colophon .nav-colophon li a {
    color: #388A8B;
}

ul.share-buttons{
   list-style: outside none none;
    margin-left: 183px;
    margin-top: -35px;
    padding-top: 20px;
    border: none;
}

ul.share-buttons li{
  display: inline;
  width:22px;
}
ul.share-buttons li img{
    border: none;
}

.share-fb{
    width: 18px;
    border: none;
}

.share-pin{
    width: 16px;
    border: none;
}

.share-twitter{
    width: 22px;
    border: none;
}

.share-in{
    width: 18px;
    border: none;
}

/* new style sheet for course */

.highlighted-courses .courses .courses-listing .courses-listing-item, .find-courses .courses .courses-listing .courses-listing-item {
    float: left;
    margin-right: 0px;
    width: 29.7616%;
}

.highlighted-courses .courses .course, .find-courses .courses .course {
    background: none repeat scroll 0 0 #fbfffd;
    border: 1px solid #d1d5d3;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(255, 255, 255, 0.9) inset;
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.15s linear 0s;
    width: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.highlighted-courses .courses .course a, .find-courses .courses .course a {
    display: block;
    position: relative;
}
a:link, a:visited {
    color: #4f7573;
    font: 1em/1em "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}

.highlighted-courses .courses .course .inner-wrapper, .find-courses .courses .course .inner-wrapper {
    border: 1px solid #fcfcfc;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.highlighted-courses .courses .course header.course-preview, .find-courses .courses .course header.course-preview {
    background-image: linear-gradient(-90deg, #fff, rgba(255, 255, 255, 0.98));
    border-bottom: 1px solid rgba(150, 150, 150, 0.7);
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2) inset;
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.highlighted-courses .courses .course header.course-preview hgroup, .find-courses .courses .course header.course-preview hgroup {
    left: 0;
    padding: 0 10px;
    position: absolute;
    right: 60px;
    top: 0;
}

.highlighted-courses .courses .course header.course-preview hgroup h2, .find-courses .courses .course header.course-preview hgroup h2 {
    color: #81817d;
    display: table-cell;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-top: 0;
    text-overflow: ellipsis;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    text-transform: none;
    vertical-align: middle;
    border: medium none;
}

.highlighted-courses .courses .course header.course-preview .info-link, .find-courses .courses .course header.course-preview .info-link {
    border-left: 1px solid rgba(150, 150, 150, 0.5);
    box-sizing: border-box;
    color: #313533;
    display: inline-block;
    font: bold 1.6em/1.2em "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    height: 100%;
    opacity: 0.6;
    padding-top: 5px;
    padding-left: 8px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    top: 0;
    vertical-align: middle;
    width: 60px;
}

.highlighted-courses .courses .course header.course-preview:hover .info-link, .find-courses .courses .course header.course-preview:focus .info-link {
   color: #1d8081;
}

.highlighted-courses .courses .course .info, .find-courses .courses .course .info {
    background: none repeat scroll 0 0 #fbfffd;
    height: 350px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.15s linear 0s;
    width: 100%;
}

.highlighted-courses .courses .course .info .cover-image, .find-courses .courses .course .info .cover-image {
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.highlighted-courses .courses .course .info .cover-image img, .find-courses .courses .course .info .cover-image img {
    display: block;
    min-height: 100%;
    width: 100%;
}

.highlighted-courses .courses .course .info .desc, .find-courses .courses .course .info .desc {
    box-sizing: border-box;
    height: 120px;
    overflow: hidden;
    padding: 10px 10px 12px;
    position: relative;
    width: 100%;
}

.highlighted-courses .courses .course .info .bottom, .find-courses .courses .course .info .bottom {
    box-sizing: border-box;
    padding: 0 10px 10px;
    width: 100%;
}

.highlighted-courses .courses .course .info .bottom .university, .find-courses .courses .course .info .bottom .university {
    color: #515553;
    letter-spacing: 1px;
}

.highlighted-courses .courses .course .info .bottom .start-date, .find-courses .courses .course .info .bottom .start-date {
    border-left: 1px solid #d1d5d3;
    color: #515553;
    letter-spacing: 1px;
    margin-left: 5px;
    padding-left: 10px;
}

.highlighted-courses .courses .course .meta-info, .find-courses .courses .course .meta-info {
    background: none repeat scroll 0 0 #86141c;
    border: 1px solid #86141c;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    bottom: 18px;
    box-shadow: 0 1px 5px 0 #86141c;
    font-family: Helvetica,Arial,sans-serif;
    font-weight:bold;
    position: absolute;
    font-size: 20px;
    transition: all 0.15s linear 0s;
    left: 0.053em;
    width:30%;
    min-width:30%;
    right:none;
}

.highlighted-courses .courses .course .meta-info::after, .find-courses .courses .course .meta-info::after {
    clear: both;
    content: "";
    display: table;
}

.courses-listing .new-share-text{
    color: #388a8b;
    font-size: 14px;
    margin-top: -24px;
    text-align: right;
    border: none;
}

.courses-listing .new-share-text span{
     color:#388A8B;
     border: none;
}

.highlighted-courses .courses .course .meta-info p, .find-courses .courses .course .meta-info p {
    color: #fff;
    font-style: normal;
    line-height: 1.2em;
    padding: 4px 12px 5px;
}

.courses-container .courses .courses-listing .courses-listing-item:nth-child(4n+1) {
    clear: none ;
}

a:link:hover, a:link:focus, a:visited:hover, a:visited:focus {
    text-decoration: none;
}

.wrapper-footer footer {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1180px;
    min-width: 760px;
    width: 100% ;
}

a:view_courses{
    color: #f2f2f2 ;
}

.view {
    background: none repeat scroll 0 0 #FF762A;
    color: #f2f2f2 !important;
    font-size: 18px;
    font-weight: bold ;
    height: 40px;
    width: 95%;
    padding: 4px 10px;
    border: 1px solid #f2f2f2;
    text-decoration: none ;
    font-family: Helvetica,Arial,sans-serif;
}

a:hover,a:focus{
    color:#1d8081 !important ;
    border:medium none;
}

textarea, input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    border: 1px solid #1d8081;
}

.view-register .introduction header .title .title-super, .view-login .introduction header .title .title-super, .view-passwordreset .introduction header .title .title-super {
    color: #1d8081;
}


.login a:link, .login a:visited, .login a:hover, .login a:active, .login a:focus, .register a:link, .register a:visited, .register a:hover, .register a:active, .register a:focus, .passwordreset a:link, .passwordreset a:visited, .passwordreset a:hover, .passwordreset a:active, .passwordreset a:focus, #forgot-password-modal #password-reset a:link, #forgot-password-modal #password-reset a:visited, #forgot-password-modal #password-reset a:hover, #forgot-password-modal #password-reset a:active, #forgot-password-modal #password-reset a:focus {
    color: #1d8081;
}

.wrapper-footer footer .colophon {
    width: 100%;
}
.course_link,.course_link:focus{
    border: medium none;
}

header.global .nav-global li a:hover, header.global .nav-global li a:focus, header.global .nav-global li a:active, header.global .nav-global div a:hover, header.global .nav-global div a:focus, header.global .nav-global div a:active {
    color: #1d8081;
}
header.global .nav-global li.active a, header.global .nav-global div.active a {
    color: #1d8081;
}

.highlighted-courses .courses .course header.course-preview:hover .info-link,.highlighted-courses .courses .course header.course-preview:focus .info-link,.find-courses .courses .course header.course-preview:hover .info-link,.find-courses .courses .course header.course-preview:focus .info-link{
    color:#1d8081;opacity:1.0
}
.highlighted-courses .courses .course header.course-preview:hover h2,.highlighted-courses .courses .course header.course-preview:focus h2,.find-courses .courses .course header.course-preview:hover h2,.find-courses .courses .course header.course-preview:focus h2{
    color:#1d8081;
}

.highlighted-courses .courses .course:hover,.highlighted-courses .courses .course:focus,.find-courses .courses .course:hover,.find-courses .courses .course:focus{
    background:#fbfbfb;border-color:#f2f2f2;
}

.course-info .container nav, .course-info section.outside-app nav {
    border-bottom: 1px solid #1d8081;
}
.course-info .course-sidebar>section{
    border: 1px solid #1d8081;
}

.home .university-partners hr::after, .course-info .container nav::after, .course-info section.outside-app nav::after, .course-info .course-sidebar header::after, .mediakit hr::after, .container.about>nav::after, section.about.outside-app>nav::after {
background-image: -webkit-linear-gradient(#1d8081 0%, #1d8081);
}
.course-info .details .inner-wrapper .course-staff .teacher .teacher-image{
     border: medium none;
}

.course-info .course-sidebar>section.course-summary {
    border-top: 1px solid #1d8081;
}
.course-info .course-sidebar .important-dates li{
    border-bottom: 1px solid #1d8081;
}

.course-info header.course-profile .intro-inner-wrapper .media .hero {
    border: medium none;
}

.course-info header.course-profile .intro-inner-wrapper{
   border: 1px solid #1d8081;
}

.course-info header.course-profile .intro-inner-wrapper .intro>hgroup {
    border-bottom: 1px solid #1d8081;
    box-shadow: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.course-info header.course-profile{
   border-bottom: 1px solid #fbfbfb;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart{
    background-image:none;
    background-color: #f7691f;
    color: #f2f2f2;
    border: none;
    text-shadow: none;
    font-weight: 500;
    letter-spacing: 0;
}

.find-courses header.search .inner-wrapper > hgroup, .university-profile header.search .inner-wrapper > hgroup {
    border: 1px solid #1d8081;
}

.dashboard .profile-sidebar {
    border: 1px solid #1d8081;
}

header.global .user a.user-link .icon {
     background-color: #f7691f;
     color: #f2f2f2;
     text-shadow: none;
}

header.global .primary > a {
    border: 1px solid #f7691f;
    color: #f2f2f2;
    background-color: #f7691f;
    text-shadow: none;
    font-weight: 500;
    font-style: "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}

header.global .user > .primary:last-child > a {
    padding: 5px 8px 10px 10px;
    text-shadow: none;
    font-weight: 500;
}

.dashboard .my-courses .course .details .enter-course {
    border: none;
    background-image: none;
    font: 15px/1.6rem "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}